:root {
  --text-color: rgb(224, 222, 222);
  --background-color1: rgb(12, 68, 133);
  --background-color2: rgb(5, 38, 87);
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
}

i {
  color: rgb(8, 93, 190);
}
